@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'toastr';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.search-box {
    width: 300px;
}

h1.logo {
    display: block;
    width: 216px;
    height: 33px;
    text-indent: -9999px;
    background: url('/img/logo.svg') no-repeat center center;
    background-size: contain;
}

.map-search-wrapper {
    min-height: calc(100vh - 100px);
}

@media (min-width: 768px) {
    #toast-container.toast-top-right {
        top: 100px;
    }

    .map-search-wrapper {
        height: calc(100vh - 100px);
    }
}