@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'toastr';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1.logo {
    display: block;
    width: 216px;
    height: 33px;
    text-indent: -9999px;
    background: url('/img/logo.svg') no-repeat center center;
    background-size: contain;
}

.map-search-wrapper {
    height: calc(100vh - 100px);
}

.filters-box {
    max-height: 0;
    transition: max-height .5s;
    overflow: hidden;
}

.filters-box.show {
    max-height: 1000px;
}

@media (min-width: 768px) {
    #toast-container.toast-top-right {
        top: 100px;
    }
    #location-sidebar {
        width: 30rem;
    }
}

body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    
   }

input[type="radio"] + span.radio {
    transition: background .2s,
      transform .2s;
}

label.radio span.radio:hover,
label.radio:hover span.radio {
  transform: scale(1.2);
}

input[type="radio"]:checked + span.radio {
  background-color: #3490DC;
  box-shadow: 0px 0px 0px 6px white inset;
}

input[type="radio"]:checked + span + span {
   color: #3490DC;
}